<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid page">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header class="jumbotron">
      <div class="row">
         <div class="col-sm my-auto">
            <H1  class="display-4 float-left" th:text="${books}==null ? #{message.noBook} : #{title.bookList}">Books list</H1>
         </div>
         <div class="col-sm my-auto">
            <div th:replace="~{book/book-filter :: bookfilter}"></div>
         </div>
      </div>
   </header>

   <div class="row endpage">
      <div  th:if="${book.remaining > 0}" class="card col-lg-4 col-sm-6 col-xs-12 mx-auto" th:each="book : ${books}">
         <div class="card-header row">
            <div class="col-sm">
               <h5 th:text="${book.title}"></h5>
            </div>
            <div class="col-sm">
               <span class="float-right" th:text="${book.author.firstName + ' ' + book.author.lastName}"></span>
            </div>
         </div>
         <div class="card-body center">
            <img  class="img-fluid" th:src="${@environment.getProperty('zuul.url') + 'media-api/images/BOOK/' + book.id}" alt="photo"/>
         </div>
         <div class="card-footer row">
            <div class="input-group col-md-6">
               <div class="input-group-prepend mb-2">
                  <div class="input-group-text" th:text="#{label.stock}">Stock</div>
               </div>
               <span class="form-control" th:text="${book.remaining}"> Remaining </span>
            </div>
            <div class="col-md-6">
               <a class="btn btn-primary mb-2 float-right" th:href="@{/book/{bookId}(bookId=${book.id})}" th:text="#{label.info}">Informations</a>
            </div>
         </div>
      </div>
   </div>
</div>

   <footer th:replace="~{fragments/footer :: footer}">&copy; 2020 La Grande Librarie</footer>
</body>
</html>