a:hover {
	color: purple;
}

aside {
	color: black;
}

 body {
    background-color: #DDD;
    padding-top: 10px;
    min-height: 100%;
    background-image:url("/images/simple-background.png");
}

body,html {
  height: 100%;
}

.card {
    #display:flex;
}

.card-text {
    padding-left : 10px;
    padding-right : 10px;
}

[class*="col-"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
	text-align: center;
	padding-bottom: 20px;
	color : white;
}
.endpage {
    margin-bottom: 100px;
}

footer a {
	color : white;
    margin-bottom:20px;
}

header {
    margin-top : 50px;
    padding-left: 20px;
    text-align: center;
}

html{
  height: 100%;
}


img {
    box-shadow: 5px 5px 5px black;
}

.img-avatar {
    height: 50px;
    width: 50px;
}

.jumbotron {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.navbar {
    height: 50px;
}

.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px;
}

nav .navbar-nav li i  {
    color : white;
}

nav .navbar-nav li a  {
    color : white;
}

nav .navbar-nav li a:hover {
	color: purple;
}

section {
	margin-bottom: 20px;
}


.center {
	text-align: center;
}

.page {
  height: 800px;
}

@media all and (min-width: 576px) {

    .col-sm-6 {
        flex: 0 0 49%;
    }

	aside {
		display: none;
	}
}


@media all and (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 24%;
    }

    .col-md-6 {
        flex: 0 0 49%;
    }

	aside {
		display: none;
	}	
}

@media all and (min-width: 800px) {
    .col-md-3 {
        flex: 0 0 24%;
    }

    .col-md-6 {
        flex: 0 0 49%;
    }

	aside {
		display: none;
	}
	
	.thumbnail {
		display: none;
	}
}

@media all and (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 32%;
        max-width: 32%;
    }
    .col-md-3 {
        flex: 0 0 24%;
    }

    .col-md-6 {
        flex: 0 0 49%;
    }

	aside {
		display: none;
	}

	.thumbnail {
		display: none;
	}
}

