<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
   <nav th:replace="~{fragments/nav :: nav}"></nav>

   <header >
      <div th:if="${param.error}">
         Invalid username and password.
      </div>
      <div th:if="${param.logout}">
         You have been logged out.
      </div>
   </header>

   <div class="page col-md-2 mx-auto">
   <section class="row h-100">
      <div class="my-auto">
         <div class="card card-block col-md-12">
            <div class="card-header">
               <H1 th:text="#{title.password}">Change password</H1>
            </div>
            <form class="card-body" th:action="@{/user/password/update}" method="POST">
               <input type="hidden"  th:field="${user.id}">
               <input type="hidden"  th:field="${user.firstName}">
               <input type="hidden"  th:field="${user.lastName}">
               <input type="hidden"  th:field="${user.password}">
               <input type="hidden"  th:field="${user.matchingPassword}">
               <input type="hidden"  th:field="${user.photoLink}">
               <input type="hidden"  th:field="${user.phone}">
               <input type="hidden"  th:field="${user.roles}">
               <input type="hidden"  th:field="${user.status}">
               <input type="hidden"  th:field="${user.counter}">
               <input type="hidden"  th:field="${user.street1}">
               <input type="hidden"  th:field="${user.street2}">
               <input type="hidden"  th:field="${user.street3}">
               <input type="hidden"  th:field="${user.city}">
               <input type="hidden"  th:field="${user.zipCode}">
               <input type="hidden"  th:field="${user.country}">

               <div class="form-group">
                  <label for="email" th:text="#{label.email}">Email address</label>
                  <input type="email" th:field="${user.email}" class="form-control input-lg" id="email" readonly>
                  <small id="emailHelp" class="form-text text-muted" th:text="#{message.email}">We'll never share your emailConfiguration with anyone else.</small>
               </div>
               <div class="form-group">
                  <label for="oldPassword" th:text="#{label.oldPassword}">Old password</label>
                  <input type="password" name="oldPassword" class="form-control input-lg" id="oldPassword" th:placeholder="#{placeholder.password}" value="">
               </div>
               <div class="form-group">
                  <label for="newPassword"  th:text="#{label.newPassword}">New password</label>
                  <input type="password" name="newPassword"  class="form-control input-lg" id="newPassword" th:placeholder="#{placeholder.password}" value="">
               </div>
               <div class="form-group">
                  <label for="newMatchingPassword"  th:text="#{label.matchingPassword}">Password</label>
                  <input type="password" name="newMatchingPassword" class="form-control input-lg" id="newMatchingPassword" th:placeholder="#{placeholder.password}" value="">
               </div>

               <div class="form-row">
                  <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary col-md-12" th:text="#{label.submit}">Submit</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </section>
   </div>
   <footer th:replace="~{fragments/footer :: footer}">&copy; 2019 Escalade</footer>
</div>
</body>
</html>